# TMDB API key
EXPO_PUBLIC_TMDB_API_READ_ACCESS_TOKEN=


# Appwrite API keys and IDs
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_ENDPOINT=
EXPO_PUBLIC_APPWRITE_DATABASE_ID=
EXPO_PUBLIC_APPWRITE_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_USERS_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_SAVED_MOVIES_COLLECTION_ID=